/pokemon
/mmpretrain/.mim/
/garbage/0/
/garbage/1/
/garbage/2/
/garbage/3/
/garbage/4/
/garbage/5/
/garbage/6/
/garbage/7/
/garbage/8/
/garbage/9/
/garbage/10/
/garbage/11/
/garbage/12/
/garbage/13/
/garbage/14/
/garbage/15/
/garbage/16/
/garbage/17/
/garbage/18/
/garbage/19/
/garbage/20/
/garbage/21/
/garbage/22/
/garbage/23/
/garbage/24/
/garbage/25/
/garbage/26/
/garbage/27/
/garbage/28/
/garbage/29/
/garbage/30/
/garbage/31/
/garbage/32/
/garbage/33/
/garbage/34/
/garbage/35/
/garbage/36/
/garbage/37/
/garbage/38/
/garbage/39/
/garbage/40/
/garbage/41/
/garbage/42/
/garbage/43/
/garbage/44/
/garbage/45/
/garbage/46/
/garbage/47/
/garbage/48/
/garbage/49/
/garbage/50/
/garbage/51/
/garbage/52/
/garbage/53/
/garbage/54/
/garbage/55/
/garbage/56/
/garbage/57/
/garbage/58/
/garbage/59/
/garbage/60/
/garbage/61/
/garbage/62/
/garbage/63/
/garbage/64/
/garbage/65/
/garbage/66/
/garbage/67/
/garbage/68/
/garbage/69/
/garbage/70/
/garbage/71/
/garbage/72/
/garbage/73/
/garbage/74/
/garbage/75/
/garbage/76/
/garbage/77/
/garbage/78/
/garbage/79/
/garbage/80/
/garbage/81/
/garbage/82/
/garbage/83/
/garbage/84/
/garbage/85/
/garbage/86/
/garbage/87/
/garbage/88/
/garbage/89/
/garbage/90/
/garbage/91/
/garbage/92/
/garbage/93/
/garbage/94/
/garbage/95/
/garbage/96/
/garbage/97/
/garbage/98/
/garbage/99/
/garbage/100/
/garbage/101/
/garbage/102/
/garbage/103/
/garbage/104/
/garbage/105/
/garbage/106/
/garbage/107/
/garbage/108/
/garbage/109/
/garbage/110/
/garbage/111/
/garbage/112/
/garbage/113/
/garbage/114/
/garbage/115/
/garbage/116/
/garbage/117/
/garbage/118/
/garbage/119/
/garbage/120/
/garbage/121/
/garbage/122/
/garbage/123/
/garbage/124/
/garbage/125/
/garbage/126/
/garbage/127/
/garbage/128/
/garbage/129/
/garbage/130/
/garbage/131/
/garbage/132/
/garbage/133/
/garbage/134/
/garbage/135/
/garbage/136/
/garbage/137/
/garbage/138/
/garbage/139/
/garbage/140/
/garbage/141/
/garbage/142/
/garbage/143/
/garbage/144/
/garbage/145/
/garbage/146/
/garbage/147/
/garbage/148/
/garbage/149/
/garbage/150/
/garbage/151/
/garbage/152/
/garbage/153/
/garbage/154/
/garbage/155/
/garbage/156/
/garbage/157/
#*.pth
.idea/
/work_dir